//<МИКСИНЫ>==================================================================================================================================================================
@import "mixins";
//</МИКСИНЫ>==================================================================================================================================================================

//<ШРИФТЫ>==================================================================================================================================================================

//<Подключаем шрифты>==================================================================================================================================================================
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
//</Подключаем шрифты>==================================================================================================================================================================

//<Шрифт по умолчанию>==================================================================================================================================================================
$fontfamily: "Open Sans", sans-serif;
//</Шрифт по умолчанию>==================================================================================================================================================================

//</ШРИФТЫ>==================================================================================================================================================================

//<ПЕРЕМЕННЫЕ>==================================================================================================================================================================================
$minwidth: 320px;
//===============================================================================================================================================================================================

//</ПЕРЕМЕННЫЕ>=================================================================================================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>==================================================================================================================================================================
@import "nullstyle";
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>==================================================================================================================================================================

//<ОБОЛОЧКА>=====================================================================================================================================================================================
.wrapper {
	display: grid;
	grid-template: 1fr / 240px 1fr;
	grid-template-areas:
		"sidebar header"
		"sidebar content";
}
//</ОБОЛОЧКА>====================================================================================================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>===============================================================================================================================================
@import "header";
@import "sidebar";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>==============================================================================================================================================

//<ОСНОВНОЙ БЛОК>================================================================================================================================================================================
.content {
	text-transform: uppercase;
	font-family: "Roboto", sans-serif;
	display: grid;
	padding: 40px 50px 100px;
	background-color: #fafafa;
	grid-area: content;
	&__cards {
		justify-content: center;
		display: grid;
		gap: 20px;
		grid-template-columns: repeat(auto-fit, 346px);
		filter: drop-shadow(0px 2px 5px rgba(122, 122, 122, 0.356));
	}
}
.card {
	overflow: hidden;
	border-radius: 10px;
	background-color: rgb(255, 255, 255);
	height: 161px;
	width: 347px;
	padding: 16px 20px;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	clip-path: polygon(
		0 0,
		100% 0,
		100% 72.5px,
		calc(100% - 10px) 80.5px,
		100% 88.5px,
		100% 100%,
		0 100%,
		0 88.5px,
		10px 80.5px,
		0 72.5px
	);
	&:after {
		content: "";
		position: absolute;
		background: #fff;
		width: 343px;
		height: 157px;
		border-radius: 7px;
		clip-path: polygon(
			0 0,
			100% 0,
			100% 70.5px,
			calc(100% - 10px) 78.5px,
			100% 86.5px,
			100% 100%,
			0 100%,
			0 86.5px,
			10px 78.5px,
			0 70.5px
		);
		z-index: -1;
		top: 2px;
		left: 2px;
	}
	&.active {
		background-color: #df212d;
	}
	&__title {
		font-weight: 700;
		font-size: 16px;
		line-height: 16px;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		margin: 0px 0px 4px 0px;
	}
	&__subtitle {
		text-transform: none;
		font-size: 16px;
		color: #000000;
		opacity: 0.5;
	}
	&__event {
		font-weight: 500;
		font-size: 36px;
		color: #df212d;
		margin: 0px 0px 6px 0px;
	}
	&__event-subtitle {
		font-size: 16px;
		align-items: center;
		letter-spacing: 0.4em;
		color: #000000;
		opacity: 0.5;
	}
	&__image {
		position: absolute;
		top: 0;
		right: 0;
		width: 130px;
		img {
			max-width: 100%;
		}
	}
}
//===============================================================================================================================================================================================
@media (max-width: 1052px) {
	.wrapper {
		grid-template: 1fr / 104px 1fr;
		grid-template-areas:
			"sidebar header"
			"sidebar content";
		&.active {
			grid-template: 1fr / 246px 1fr;
			grid-template-areas:
				"sidebar header"
				"sidebar content";
		}
	}
	.content {
		padding: 27px 26px 100px;
		&__cards {
			grid-template-columns: repeat(auto-fit, 296px);
			&.active {
				grid-template-columns: repeat(auto-fit, 236px);
				.card {
					width: 236px;
					&:after {
						width: 232px;
						clip-path: polygon(
							0 0,
							100% 0,
							100% 63px,
							calc(100% - 9px) 70px,
							100% 77px,
							100% 100%,
							0 100%,
							0 77px,
							9px 70px,
							0 63px
						);
					}
				}
			}
		}
	}
	.card {
		width: 296px;
		height: 144px;
		clip-path: polygon(
			0 0,
			100% 0,
			100% 65px,
			calc(100% - 9px) 72px,
			100% 79px,
			100% 100%,
			0 100%,
			0 79px,
			9px 72px,
			0 65px
		);
		&:after {
			width: 292px;
			height: 140px;
			clip-path: polygon(
				0 0,
				100% 0,
				100% 63px,
				calc(100% - 9px) 70px,
				100% 77px,
				100% 100%,
				0 100%,
				0 77px,
				9px 70px,
				0 63px
			);
		}
		&__title {
			font-size: 14px;
		}
		&__subtitle {
			font-size: 14px;
		}
		&__event {
			margin: 0px 0px 3px 0px;
		}
		&__image {
			max-width: 104px;
			height: 144px;
			img {
				min-height: 100%;
			}
		}
	}
}
//===============================================================================================================================================================================================
@media (max-width: 546px) {
	.wrapper {
		display: block;
	}
	.content {
		padding: 27px 26px 100px;
		&__cards {
			grid-template-columns: repeat(auto-fit, 268px);
			.card {
				width: 268px;
				height: 130px;
				clip-path: polygon(
					0 0,
					100% 0,
					100% 58px,
					calc(100% - 8px) 50%,
					100% 72px,
					100% 100%,
					0 100%,
					0 72px,
					8px 50%,
					0 58px
				);
				&:after {
					width: 264px;
					height: 126px;
					clip-path: polygon(
						0 0,
						100% 0,
						100% 56px,
						calc(100% - 8px) 50%,
						100% 70px,
						100% 100%,
						0 100%,
						0 70px,
						8px 50%,
						0 56px
					);
				}
				&.active:after {
					width: 264px;
					clip-path: polygon(
						0 0,
						100% 0,
						100% 56px,
						calc(100% - 8px) 50%,
						100% 70px,
						100% 100%,
						0 100%,
						0 70px,
						8px 50%,
						0 56px
					);
				}
				&__image {
					max-width: 89px;
					height: 130px;
					img {
						height: 100%;
					}
				}
				&__title {
					font-size: 12px;
				}
				&__subtitle {
					font-size: 12px;
				}
				&__event {
					font-size: 28px;
					margin: 0px 0px 3px 0px;
				}
				&__event-subtitle {
					font-size: 12px;
				}
				&__image {
					max-width: 104px;
					height: 144px;
					img {
						height: 100%;
					}
				}
			}
			&.active {
				grid-template-columns: repeat(auto-fit, 268px);
				.card {
					width: 268px;
				}
			}
		}
	}
}
//</ОСНОВНОЙ БЛОК>===============================================================================================================================================================================
